<b>Master table: [Tax Summary]</b><br>

<TABLE CELLPADDING=4 CELLSPACING=1 BORDER=0 style="width:20%;margin:5px 0;border: solid; border-width: 1px; border-color: #C0C0C0;" class="data">

<!-- header -->
<tr class="blackshade" valign="top">
<td>Entry Count</td>
<td>Amount</td>
<td>Month</td>
<td>Year</td>
</tr>
<!-- data -->
<tr class="shade">
<td>
{$Entries_mastervalue}
</td>
<td>
{$Amount_mastervalue}
</td>
<td>
{$monthname_mastervalue}
</td>
<td>
{$year_mastervalue}
</td>
</tr>
</table>




