<html {$html_attrs}>
<head>
<title>Taxitem</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
{BEGIN style_block}
<style>
#height100{$id} {height:auto;padding:10px;}
#search_block{$id} div {padding:5px 7px;}
#global_block{$id} {padding:5px 12px;/*min-height:800px;*/ border: 1px solid #516C81;}
#search_block_center{$id} {padding:3px 5px;text-align:center;}
#center_block{$id} {text-align:center;padding:4px;}
#center_block_caption{$id} {text-align:center;padding:4px;}
#left_block{$id} { position:absolute;width:202px; left:20px; overflow:visible; margin-top:10px}
#right_block{$id} { padding:10px 0px 0px 0px;}
/*{BEGIN shiftstyle_block}*/
#right_block{$id} { padding-left:220px;}
/*{END shiftstyle_block}*/
#toplinks_block{$id} {padding:0 5px 5px 5px;}
#toplinks_block{$id} > * {margin:4px 6px;vertical-align:middle;}
#menu_block{$id} {clear:left;padding:5px; width:auto;}
#details_block{$id}, #pages_block{$id}, #records_pp_block{$id} {white-space:nowrap;padding:5px 7px;text-align:center;}
#recordspp_block{$id} {padding:10px;}
#recordcontrols_block{$id} {padding:13px 10px 9px 10px;text-align:left}
#record_controls{$id} > *,#newrecord_controls{$id} > * {margin:2px 2px;vertical-align:middle}
.menuitem {padding:6px 18px 10px 13px}
.menuitem_active {padding:6px 18px 11px 13px}
.message_block {text-align:center;}
.grid_recordheader {padding:0 5px 5px}
.grid_recordheader * {margin:0px 5px; vertical-align:middle}
#grid_block{$id} {margin-top:10px;}
.headerlist_right2 *,.headerlist * {vertical-align:middle}
body{margin:0px;padding:0px;}
</style>
{END style_block}
<!--[if IE]>
{BEGIN iestyle_block}
<style>
#right_block{$id} { width:100%}
#global_block{$id} {height:95%}
</style>
{END iestyle_block}
<![endif]-->
</head>
<body marginheight=0 marginwidth=0 {$bodyattrs}>
{BEGIN body}
<div id="height100{$id}">
{$header}
<b class="xtop"><b class="xb1b"></b><b class="xb2b"></b><b class="xb3b"></b><b class="xb4b"></b></b>
{BEGIN toplinks_block}
<div id="toplinks_block{$id}" class="upeditmenu">
<span><font style="FONT-FAMILY: Verdana, Arial;">Logged on as</font>&nbsp;<b>{$username}</b>&nbsp;</span>
<span class=buttonborder><input type=button class=button value="Log out" {$logoutlink_attrs}></span>


{BEGIN changepwd_link}
<span class=buttonborder><input type=button class=button value="Change password" {$changepwdlink_attrs}></span>
{END changepwd_link}

{BEGIN asearch_link}
<span class=buttonborder><input type=button class=button value="Advanced search" {$asearchlink_attrs}></span>
{END asearch_link}

{BEGIN export_link}
<span class=buttonborder><input type=button class=button value="Export results" {$exportlink_attrs}></span>
{END export_link}

{BEGIN print_link}
<span class=buttonborder><input type=button class=button value="Printer-friendly version" {$printlink_attrs}></span>
{END print_link}
{BEGIN printall_link}
<span class=buttonborder><input type=button class=button value="Print all pages" {$printalllink_attrs}></span>
{END printall_link}

{BEGIN import_link}
<span class=buttonborder><input type=button class=button value="Import" {$importlink_attrs}></span>
{END import_link}

</div>
{END toplinks_block}
<div class="main_table_border2 main_table" id="global_block{$id}">
{BEGIN left_block}
<div id="left_block{$id}" >
    <b class="xtop"><b class="xb1b1"></b><b class="xb2b1"></b><b class="xb3b1"></b><b class="xb4b1"></b></b>
	<!-- MenuBegin -->
{BEGIN menu_block}
<div class="menu_table" id="menu_block{$id}">
<!-- MainMenuBegin -->
{$mainmenu}
<!-- MainMenuEnd -->
</div>
{END menu_block}
		
	<!-- MenuEnd -->	
	{BEGIN search_records_block}
	<div>
        		{BEGIN searchform}
        <div class="menu_table" id="search_block{$id}">
            <div class="blackshade2" id="center_block{$id}">
                Search for:
            </div>
            <div class="blackshade">
                {BEGIN searchform_field}
                <select id="ctlSearchField{$id}">
                <option value="">Any field</option>
                <option value="Storename" {$Storename_searchfieldoption}>Store</option>
                <option value="Created" {$Created_searchfieldoption}>Created</option>
                <option value="year" {$year_searchfieldoption}>Year</option>
                </select>
                {END searchform_field}
            </div>
            <div class="blackshade">
                {BEGIN searchform_option}
                <select id="ctlSearchOption{$id}">
                <option value="Contains" {$Contains_searchtypeoption}>Contains</option>
                <option value="Equals" {$Equals_searchtypeoption}>Equals</option>
                <option value="Starts with ..." {$Starts_with_____searchtypeoption}>Starts with ...</option>
                <option value="More than ..." {$More_than_____searchtypeoption}>More than ...</option>
                <option value="Less than ..." {$Less_than_____searchtypeoption}>Less than ...</option>
                <option value="Equal or more than ..." {$Equal_or_more_than_____searchtypeoption}>Equal or more than ...</option>
                <option value="Equal or less than ..." {$Equal_or_less_than_____searchtypeoption}>Equal or less than ...</option>
                <option value="Empty" {$Empty_searchtypeoption}>Empty</option>
                </select>
                {END searchform_option}
            </div>
            <div class="blackshade">
                {BEGIN searchform_text}
                <input type=text size=20 {$searchfor_attrs}>
                {END searchform_text}
            </div>
            <div id="search_block_center{$id}" class="blackshade">
                {BEGIN searchform_search}
                <span class=buttonborder><input type=button class="button" value="Search" {$searchbutton_attrs}></span>
                {END searchform_search}
                &nbsp;		
                {BEGIN searchform_showall}
                <span class=buttonborder><input type=button class="button" value="Show all" {$showallbutton_attrs}></span>
                {END searchform_showall}
            </div>
            <div class="blackshade2" id="details_block{$id}">
                {BEGIN details_block}
                <span>Details found: {$records_found}</span>
                {END details_block}
            </div>
            <div class="menu_text blackshade" id="pages_block{$id}">
                {BEGIN pages_block}
                <span>Page {$page} of {$maxpages}</span>
                {END pages_block}
            </div>
        </div>
		{END searchform}
        <div class="menu_table2">
            {BEGIN recordspp_block}
            <div class="menu_text blackshade" id="recordspp_block{$id}" >
                Records Per Page:&nbsp;
                <select {$recordspp_attrs}>
                <option value="10" {$rpp10_selected}>10</option>
                <option value="20" {$rpp20_selected}>20</option>
                <option value="30" {$rpp30_selected}>30</option>
                <option value="50" {$rpp50_selected}>50</option>
                <option value="100" {$rpp100_selected}>100</option>
                <option value="500" {$rpp500_selected}>500</option>
                </select>
            </div>
            {END recordspp_block}
        </div>
	</div>
	{END search_records_block}
    </div>
{END left_block}
    <div id="right_block{$id}">
        
                {BEGIN mastertable_block}
        <div id="mastertable_block{$id}">
        {$showmasterfile}
	<a {$backtomasterlink_attrs} class="toplinks"><b>Back to Master table</b></a>
	<br>
        </div>
        {END mastertable_block}

        <div class=list_table1>
        <div class=list_table>
        
        <div class=blackshade2 id="center_block_caption{$id}">
        Taxitem
        </div>
        {BEGIN recordcontrols_block}
        <div class=blackshade id="recordcontrols_block{$id}">
	        {BEGIN newrecord_controls}
		<span id="newrecord_controls{$id}">
                {BEGIN add_link}
        <span class=buttonborder><input type=button class="button" value="Add new" {$addlink_attrs}></span>
        {END add_link}

                {BEGIN inlineadd_link}
        <span class=buttonborder><input type=button class="button" value="Inline Add" {$inlineaddlink_attrs} ></span>
        {END inlineadd_link}
        </span>
		{END newrecord_controls}
		
		{$lookupSearchControls}
		
		{BEGIN record_controls}
		<span id="record_controls{$id}">
        
                        {BEGIN editselected_link}
        <span class=buttonborder> <input type=button class="button" value="Edit selected" {$editselectedlink_attrs}></span>
        {END editselected_link}
        {BEGIN saveall_link}
        <span class=buttonborder {$savealllink_span}><input type=button class="button" value="Save all" {$savealllink_attrs}></span>
        {END saveall_link}
        {BEGIN cancelall_link}
        <span class=buttonborder {$canselalllink_span}><input type=button class="button" value="Cancel" {$cancelalllink_attrs}></span>
        {END cancelall_link}

                {BEGIN delete_link}
        <span class=buttonborder><input type=button class="button" value="Delete selected" {$deletelink_attrs}></span>
        {END delete_link}

                {BEGIN exportselected_link}
        <span class=buttonborder><input type=button class="button" value="Export selected" {$exportselectedlink_attrs}></span>
        {END exportselected_link}

                {BEGIN printselected_link}
        <span class=buttonborder><input type=button class="button" value="Print selected" {$printselectedlink_attrs}></span>
        {END printselected_link}
		</span>
		{END record_controls}
        </div>
        {END recordcontrols_block}
<div>
{BEGIN grid_block}
<div id="grid_block{$id}">
<table width="100%" name="maintable" border=0 cellpadding=3 cellspacing=0 class="data">
{BEGIN grid_header}
<tr valign="top" {$gridHeader_attrs}>
{BEGIN record_header}
<td class="headerlist">&nbsp;</td>

{BEGIN edit_column}
<td width=50 align="center" class="headerlist"><img src="include/img/icon_edit.gif"></td>
{END edit_column}

{BEGIN inlineedit_column}
<td width=50 align="center" class="headerlist"><img src="include/img/icon_edit.gif"></td>
{END inlineedit_column}


{BEGIN view_column}
<td width=50 align="center" class="headerlist"><img src="include/img/icon_view.gif"></td>
{END view_column}

{BEGIN checkbox_column}
<td width=50 align="center" class="headerlist">
<input type=checkbox {$checkboxheader_attrs}>
</td>
{END checkbox_column}


{BEGIN year_fieldheadercolumn}
    <td class="headerlist" align=center>
{BEGIN year_fieldheader}
<a class="tablelinks" {$year_orderlinkattrs}>
Year</a>
{END year_fieldheader}
</td>
{END year_fieldheadercolumn}
{BEGIN Storename_fieldheadercolumn}
    <td class="headerlist" align=center>
{BEGIN Storename_fieldheader}
<a class="tablelinks" {$Storename_orderlinkattrs}>
Store</a>
{END Storename_fieldheader}
</td>
{END Storename_fieldheadercolumn}
{BEGIN Amount_fieldheadercolumn}
    <td class="headerlist" align=center>
{BEGIN Amount_fieldheader}
<a class="tablelinks" {$Amount_orderlinkattrs}>
Amount</a>
{END Amount_fieldheader}
</td>
{END Amount_fieldheadercolumn}
{BEGIN Created_fieldheadercolumn}
    <td class="headerlist_right2" align=center>
{BEGIN Created_fieldheader}
<a class="tablelinks" {$Created_orderlinkattrs}>
Created</a>
{END Created_fieldheader}
</td>
{END Created_fieldheadercolumn}

{BEGIN endrecordheader_block}
<td class="table_right"></td>
{END endrecordheader_block}
{END record_header}
</tr>
{END grid_header}


{BEGIN grid_row}
<tr valign="top" {$rowstyle} {$rowattrs}>
{BEGIN grid_record}

<td>&nbsp;</td>

{BEGIN edit_column}
<td align="center" valign=middle>
{BEGIN edit_link}
<a class=tablelinks {$editlink_attrs}>Edit</a>
{END edit_link}
</td>
{END edit_column}

{BEGIN inlineedit_column}
<td align="center" valign=middle>
{BEGIN inlineedit_link}
<a class=tablelinks {$inlineeditlink_attrs}>Inline Edit</a>
{END inlineedit_link}
</td>
{END inlineedit_column}


{BEGIN view_column}
<td align="center" valign=middle>
{BEGIN view_link}
<a class=tablelinks {$viewlink_attrs}>View</a>
{END view_link}
</td>
{END view_column}

{BEGIN checkbox_column}
<td align="center" valign=middle>
{BEGIN checkbox}
<input type=checkbox {$checkbox_attrs}>
{END checkbox}
</td>
{END checkbox_column}


{BEGIN year_fieldcolumn}
<td align=center valign=middle class=borderbody {$year_style}>
{$year_value}
</td>
{END year_fieldcolumn}
{BEGIN Storename_fieldcolumn}
<td align=center valign=middle class=borderbody {$Storename_style}>
{$Storename_value}
</td>
{END Storename_fieldcolumn}
{BEGIN Amount_fieldcolumn}
<td align=center valign=middle class=borderbody {$Amount_style}>
{$Amount_value}
</td>
{END Amount_fieldcolumn}
{BEGIN Created_fieldcolumn}
<td align=center valign=middle class=borderbody {$Created_style}>
{$Created_value}
</td>
{END Created_fieldcolumn}

{BEGIN endrecord_block}
<td width=20 class=table_right {$endrecordblock_attrs}>&nbsp;</td>
{END endrecord_block}
{END grid_record}
</tr>
{END grid_row}
	
</table>
</div>
{END grid_block}
</div>
{BEGIN message_block}
<div class="xboxcontentb message_block">
{$message}
</div>
{END message_block}
{BEGIN pagination_block}
<div class="xboxcontentb message_block">
{$pagination}
</div>
{END pagination_block}
</div>
</div>
</div>
</div>
<b class="xbottom"><b class="xb4b"></b><b class="xb3b"></b><b class="xb2b"></b><b class="xb1b"></b></b>
{$footer}
</div>
{END body}
</body>
</html>

