<STYLE TYPE="text/css">
#header { position: absolute;
		width: 1024px;
		height: 48px;
		top: 0px;
		left: 0px;
		background-color:#FFCC00;
	    color:#CC0000;
}
#header TABLE { width: 100%;
		background-color: #2222FF;
	    color: #CCCCFF;
		border-width:medium;
		border-color:#777777;
}
#header TH { text-align:center;
	    font-size: 200%;
}#stats { position: absolute;
	left: 0px;
	top: 60px;
	width: 125px;
	border: 1px;
	border-color: white;
	overflow: auto;
}
#stats TH { font: 12px verdana, arial, sans-serif;
			color: #FAF915;
			font-weight: bold;
			text-decoration: none;
			text-indent: 2px;
			background-color: #252525;
			text-align:left;
}
#stats TD { color: yellow;
}
#ads { position: absolute;
	left: 0px;
	top: 60px;
	width: 125px:
}
#printcontent { position: absolute;
		top: 60px;
		width: 700px;
		left: 5px;
}
#printcontent TH { background-color: BLACK;
		text-align:left;
	    font-family: verdana, arial, sans-serif;
	    font-size: 115%;
        color: #FAF915;
}
#content { position: absolute;
		top: 50px;
		overflow: none;
		width: 763px;
		left: 131px;
	    font-size: 100%;
}
BODY { background-color: #EEEEFF;
	   color: #444444; }
#content TH { text-align:center;
		background-color: #3333CC;
		color: #FFFFCC;
		font-family: verdana, arial, sans-serif;
	    font-size: 110%;
}
#content TD { font-family: verdana, arial, sans-serif;
	    font-size: 100%;
}
#extcontent TD { 
		color: white;
}
#report A:visited { color: yellow;
			          text-decoration: none;
}
#report A:hover { color: yellow;
}
#contentreport TD.A { color: yellow;
			          text-decoration: none;
}
#contentreport TD.A:visited { color: yellow;
			          text-decoration: none;
}
#contentreport TD.A:hover { color: yellow;
}
#extcontent { position: absolute;
		color:#FFFFFF;
		top: 86px;
		width: 763px;
		overflow: auto;
		left: 131px;
}
#extcontent TH { background-color: BLUE;
		text-align:left;
	    font-family: verdana, arial, sans-serif;
	    font-size: 115%;
        color: YELLOW;
}
#contentreport TH { background-color: BLUE;
		text-align:left;
	    font-family: verdana, arial, sans-serif;
	    font-size: 90%;
        color: YELLOW;
}
#contentreport TR.ODD { background-color: #DDDDEE;
}
#contentreport TR.EVEN { background-color: #EEEEFF;
}
#report TH { background-color: BLACK;
		text-align:left;
	    font-family: verdana, arial, sans-serif;
	    font-size: 80%;
        color: red;
}
#report TD { text-align:left;
	    font-family: verdana, arial, sans-serif;
	    font-size: 65%;
}
#sidemenu { position: absolute;
		top: 60px;
		width: 115px;
		background-color: #6e6e6e;
}
#sidemenu TH { font: 12px verdana, arial, sans-serif;
			   color: #FAF915;
			   font-weight: bold;
			   text-decoration: none;
			   text-indent: 2px;
			   background-color: #252525;
			   text-align:left;
}
#sidemenu TD { font: 10px verdana, arial, sans-serif;
               color: white;
               font-weight: bold;
               text-decoration: none;
               text-indent: 10px;
               background-color: #00AD63;
}
#sidemenu A:visited { color: white;
			          text-decoration: none;
}
#sidemenu A:hover { color: red;
			          text-decoration: italic;
}
#sidemenu A { color: white;
			  text-decoration: none;
}
#exttopmenu { position: absolute;
		top: 60px;
		color: #FFFFFF;
		height: 25px;
		left: 131px;
		width: 763px;
}
#exttopmenu TH { font: 12px verdana, arial, sans-serif;
			   font-weight: bold;
			   text-decoration: none;
			   text-indent: 2px;
			   color: white;
}
#topmenu { position: absolute;
		top: 60px;
		color: #FFFFFF;
		height: 25px;
		left: 131px;
		width: 763px;
}
#submenu { position: absolute;
		top: 86px;
		left: 131px;
		height: 29px;
		width: 763px;
		text-align: center;
}
#small { font-size: 85%;
}
#extsidemenu TD { font: 10px verdana, arial, sans-serif;
               font-weight: bold;
               text-decoration: none;
               text-indent: 10px;
			   border-left: 1px solid black;
               border-top: 1px solid black;
			   border-bottom: 1px solid black;
}
#login TD { font: 10px verdana, arial, sans-serif;
               font-weight: bold;
               text-decoration: none;
               text-indent: 10px;
			   border-top: 0px solid black;
			   border-left: 0px solid black;
			   border-right: 0px solid black;
			   border-bottom: 0px solid black;
}
#submenu A:visited { color: black;
			          text-decoration: none;
}
#submenu A:hover { color: red;
}
#submenu A { color: black;
			  text-decoration: none;
}
#exttopmenu A:visited { color: black;
			          text-decoration: none;
}
#exttopmenu A:hover { color: red;
}
#exttopmenu A { color: black;
			  text-decoration: none;
}
#topmenu A:visited { color: black;
			          text-decoration: none;
}
#topmenu A:hover { color: red;
}
#topmenu A { color: black;
			  text-decoration: none;
}
BODY { background-color: #FFFFCC;
  text-color: #884444; }
A:hover { color: #cc0000; }
</STYLE>
