grant {
  permission java.net.SocketPermission ":1099", "accept, connect, listen, resolve"; };

grant {
  permission java.io.FilePermission "*", "write"; };
